listview{
    margin:20;
}

^label{
    color:blueviolet;
}

.titleLabel{
    font-size:25;
    font-style:bold;
    margin:20,20,20,0;
}

.normalLabel{
    font-size:20;
    color:black;
}